.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  justify-content: flex-end;
}
.box{
  height: 20vh;
  width: 10vw;
  border: 1px solid;
  margin: 10px;
}
.container div:nth-child(3) {
  left: 0;
  background-color: rgba(0,0,0,0.55);
  order:  -1;
  margin-right: auto;
  backdrop-filter: blur(10px);
  color: #fff;
  z-index: 1;
}

.maright-l-auto {
  margin-left: auto;
}